@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  padding: 1.25rem;
}

header .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .container .navbar_left .burger {
  margin-right: 0.7rem;
}

header .navbar .container .navbar_left .show.menu {
  display: block;
}

header .navbar .container .navbar_left .menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30%;
  z-index: 99;
  background-color: white;
  list-style: none;
  padding: 1.25rem;
}

header .navbar .container .navbar_left .menu .close_menu {
  margin-bottom: 2.5rem;
}

header .navbar .container .navbar_left .menu li {
  margin-bottom: 1.5rem;
}

header .navbar .container .navbar_left .menu li a {
  text-decoration: none;
  color: #1d2025;
  font-weight: 700;
}

header .navbar .container .navbar_right .avatar {
  margin-left: 1rem;
}

header .navbar .container .navbar_right .avatar img {
  width: 1.5rem;
}

header .product_carousel {
  position: relative;
}

header .product_carousel .arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

header .product_carousel .arrows .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .product_carousel .arrows .container a img {
  position: absolute;
  background: white;
  padding: 0.6rem 0.78rem;
  border-radius: 50%;
}

header .product_carousel .arrows .container a .previous {
  left: 5%;
}

header .product_carousel .arrows .container a .next {
  right: 5%;
}

header .product_carousel .product_images img {
  width: 100vw;
}

header .product_carousel .show.cart_model {
  display: block;
}

header .product_carousel .cart_model {
  display: none;
  position: absolute;
  top: 5%;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-height: 100%;
  background-color: white;
  color: #1d2025;
  font-weight: 700;
  border-radius: 10px;
  width: 96%;
}

header .product_carousel .cart_model .title {
  border-bottom: 1px solid #b6bcc8;
}

header .product_carousel .cart_model .body {
  padding: 25% 0;
  text-align: center;
  color: #68707d;
}

#product_infos .container .brand {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ff7d1a;
  margin-bottom: 0.5rem;
}

#product_infos .container .title {
  font-size: 1.875rem;
  color: #1d2025;
  margin-bottom: 0.8rem;
}

#product_infos .container .description {
  font-size: 0.9375rem;
  color: #68707d;
  margin-bottom: 1.2rem;
}

#product_infos .container .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8rem;
}

#product_infos .container .pricing .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_infos .container .pricing .price .new_price {
  font-size: 1.875rem;
  font-weight: 700;
  color: #1d2025;
  margin-right: 0.7rem;
}

#product_infos .container .pricing .price .discount {
  color: #ff7d1a;
  background-color: #ffede0;
  font-weight: 700;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

#product_infos .container .pricing .old_price {
  font-weight: 700;
  text-decoration: line-through;
  color: #b6bcc8;
}

#product_infos .container .add_cart .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8fd;
  border-radius: 10px;
}

#product_infos .container .add_cart .quantity a {
  padding: 1rem;
}

#product_infos .container .add_cart .quantity a img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#product_infos .container .add_cart .quantity .product_quantity {
  font-weight: 700;
  color: #1d2025;
}

#product_infos .container .add_cart .add_cart_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  width: 100%;
}

#product_infos .container .add_cart .add_cart_btn a {
  background-color: #ff7d1a;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 15px 41px 0px #ffede0;
          box-shadow: 0px 15px 41px 0px #ffede0;
}

#product_infos .container .add_cart .add_cart_btn a svg {
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */