@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue / 16) + rem;
}

$font_family: 'Kumbh Sans',
sans-serif;

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black-lightbox-background: hsl(0, 0%, 0%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font-size(16);
  font-family: $font_family;
}

.container {
  padding: 1.25rem;
}

header {
  .navbar {
    .container {
      display: flex;
      justify-content: space-between;

      .navbar_left {
        .burger {
          margin-right: 0.7rem;
        }

        .show.menu {
          display: none;
        }

        .menu {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 30%;
          z-index: 99;
          background-color: $White;
          list-style: none;
          padding: 1.25rem;

          .close_menu {
            margin-bottom: 2.5rem;
          }

          li {
            margin-bottom: 1.5rem;

            a {
              text-decoration: none;
              color: $Very-vark-blue;
              font-weight: 700;
            }
          }
        }
      }

      .navbar_right {
        .avatar {
          margin-left: 1rem;

          img {
            width: 1.5rem;
          }
        }
      }
    }
  }

  .product_carousel {
    position: relative;

    .arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      .container {
        justify-content: space-between;

        a {
          img {
            position: absolute;
            background: $White;
            padding: 0.6rem 0.78rem;
            border-radius: 50%;
          }

          .previous {
            left: 5%;
          }

          .next {
            right: 5%;
          }
        }
      }
    }

    .product_images {

      img {
        width: 100vw;
      }
    }
  }
}

#product_infos {
  .container {
    .brand {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      color: $Orange;
      margin-bottom: 0.5rem;
    }

    .title {
      @include font-size(30);
      color: $Very-vark-blue;
      margin-bottom: 0.8rem;
    }

    .description {
      @include font-size(15);
      color: $Dark-grayish-blue;
      margin-bottom: 1.2rem;
    }

    .pricing {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.8rem;

      .price {
        display: flex;
        align-items: center;

        .new_price {
          @include font-size(30);
          font-weight: 700;
          color: $Very-vark-blue;
          margin-right: 0.7rem;
        }

        .discount {
          color: $Orange;
          background-color: $Pale-orange;
          font-weight: 700;
          padding: 0.3rem 0.5rem;
          border-radius: 5px;
        }
      }

      .old_price {
        font-weight: 700;
        text-decoration: line-through;
        color: $Grayish-blue;
      }
    }

    .add_cart {

      .quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $Light-grayish-blue;
        border-radius: 10px;

        a {
          padding: 1rem;

          img {
            display: flex;
            align-items: center;
          }
        }

        .product_quantity {
          font-weight: 700;
          color: $Very-vark-blue;
        }
      }

      .add_cart_btn {
        display: flex;
        margin: 1rem 0;
        width: 100%;

        a {
          background-color: $Orange;
          color: $White;
          padding: 1rem;
          border-radius: 10px;
          text-decoration: none;
          font-weight: 700;
          text-align: center;
          width: 100%;
          box-shadow: 0px 15px 41px 0px $Pale-orange;

          svg {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}