@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue / 16) + rem;
}

$font_family: 'Kumbh Sans',
sans-serif;

$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);

$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black-lightbox-background: hsl(0, 0%, 0%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font-size(16);
  font-family: $font_family;
}

.container {
  padding: 1.25rem;
}

header {
  .navbar {
    .container {
      display: flex;
      justify-content: space-between;

      .navbar_left {
        .burger {
          margin-right: 0.7rem;
        }

        .show.menu {
          display: block;
        }

        .menu {
          display: none;
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 30%;
          z-index: 99;
          background-color: $White;
          list-style: none;
          padding: 1.25rem;

          .close_menu {
            margin-bottom: 2.5rem;
          }

          li {
            margin-bottom: 1.5rem;

            a {
              text-decoration: none;
              color: $Very-vark-blue;
              font-weight: 700;
            }
          }
        }
      }

      .navbar_right {
        .cart {
          text-decoration: none;
          position: relative;

          span {
            position: absolute;
            top: -55%;
            right: -25%;
            background-color: $Orange;
            color: $White;
            border-radius: 100vW;
            @include font-size(12);
            font-weight: 700;
            padding: 0.04rem 0.4rem;
          }
        }

        .avatar {
          margin-left: 1rem;

          img {
            width: 1.5rem;
          }
        }
      }
    }
  }
}

.product_page_content {
  .product_carousel {
    position: relative;

    .arrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;

      .container {
        justify-content: space-between;

        a {
          img {
            position: absolute;
            background: $White;
            padding: 0.6rem 0.78rem;
            border-radius: 50%;
          }

          .previous {
            left: 5%;
          }

          .next {
            right: 5%;
          }
        }
      }
    }

    .product_images {

      img {
        width: 100vw;
      }
    }

    .product_images_thumbnail {
      display: none;
    }

    .show.cart_model {
      display: block;
    }

    .cart_model {
      display: none;
      position: absolute;
      top: 5%;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      max-height: 100%;
      background-color: $White;
      border-radius: 10px;
      width: 96%;
      box-shadow: 0px 10px 30px 0px $Dark-grayish-blue;

      .cart_title {
        border-bottom: 1px solid $Grayish-blue;
        font-weight: 700;
      }

      .cart_body {
        // padding: 25% 0;
        // text-align: center;
        color: $Dark-grayish-blue;

        .container {
          .product_in_cart {
            display: flex;
            margin-top: 0.5rem;

            .product_image_in_cart {
              width: 5rem;
              margin-right: 1rem;
              border-radius: 7px;
            }

            .cart_infos {
              align-self: center;
              color: $Dark-grayish-blue;

              .product_title {
                padding-bottom: 0.5rem;
                display: inline-block;
                width: 85%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }

              .pricing {
                display: flex;

                .total {
                  color: $Very-vark-blue;
                  font-weight: 700;
                }
              }
            }

            .delete_product {
              align-self: center;
            }
          }

          .checkout_btn {
            display: flex;
            margin-top: 2rem;
            width: 100%;

            a {
              background-color: $Orange;
              color: $White;
              padding: 1rem;
              border-radius: 10px;
              text-decoration: none;
              font-weight: 700;
              text-align: center;
              width: 100%;
            }
          }
        }
      }
    }
  }

  #product_infos {
    .container {
      .brand {
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        color: $Orange;
        margin-bottom: 0.5rem;
      }

      .title {
        @include font-size(30);
        color: $Very-vark-blue;
        margin-bottom: 0.8rem;
      }

      .description {
        @include font-size(15);
        color: $Dark-grayish-blue;
        margin-bottom: 1.2rem;
      }

      .pricing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.8rem;

        .price {
          display: flex;
          align-items: center;

          .new_price {
            @include font-size(30);
            font-weight: 700;
            color: $Very-vark-blue;
            margin-right: 0.7rem;
          }

          .discount {
            color: $Orange;
            background-color: $Pale-orange;
            font-weight: 700;
            padding: 0.3rem 0.5rem;
            border-radius: 5px;
          }
        }

        .old_price {
          font-weight: 700;
          text-decoration: line-through;
          color: $Grayish-blue;
        }
      }

      .add_cart {

        .quantity {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $Light-grayish-blue;
          border-radius: 10px;

          a {
            padding: 1rem;

            img {
              display: flex;
              align-items: center;
            }
          }

          .product_quantity {
            font-weight: 700;
            color: $Very-vark-blue;
          }
        }

        .add_cart_btn {
          display: flex;
          margin: 1rem 0;
          width: 100%;

          a {
            background-color: $Orange;
            color: $White;
            padding: 1rem;
            border-radius: 10px;
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            width: 100%;
            box-shadow: 0px 15px 41px 0px $Pale-orange;

            svg {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen AND (min-width:768px) {
  .container {
    padding: 2rem 0;
  }

  header {

    .navbar {
      .container {
        border-bottom: 2px solid $Grayish-blue;
        margin: 0 10%;
        align-items: center;

        .navbar_left {
          display: flex;

          .burger {
            display: none;
          }

          .logo {
            margin-right: 2rem;
          }

          .menu {
            display: flex;
            position: static;
            justify-content: space-between;
            padding: 0;

            .close_menu {
              display: none;
            }

            li {
              margin-bottom: 0;
              margin-left: 2rem;

              a {
                text-decoration: none;
                color: $Dark-grayish-blue;
                font-weight: 700;
                padding-bottom: 2.7rem;
              }

              &:hover {
                a {
                  border-bottom: 4px solid $Orange;
                }
              }
            }
          }
        }

        .navbar_right {
          display: flex;
          align-items: center;

          .cart {

            span {
              top: -20%;
            }
          }

          .avatar {
            margin-left: 2.5rem;

            img {
              width: 2.5rem;

              &:hover {
                border: 2px solid $Orange;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }
  }

  .product_page_content {
    display: flex;

    .product_carousel {

      .arrows {
        display: none;
      }

      .product_images {

        img {
          width: 100%;
        }
      }
    }
  }
}